.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 120px;
    height: 120px;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.nav-list {
    font-size: 35px;
    display: flex;
    list-style: none;
    padding: 0px 20px;
    gap: 20px;
}

.res-card {
    border: 1px solid black;
    width: 250px;
    background-color: #ebe6e6f0;
    display: flex;
    /* Use flexbox for layout */
    flex-direction: column;
    /* Stack content vertically */
    overflow: hidden;
    /* Hide overflowing content */
}

.res-card:hover {
    color: rgb(224, 148, 204);
    cursor: pointer;
    border: 0px solid;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid black;

}

.restaurant-card {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    gap: 36px;
}

.res-logo {
    width: 100%;
    /* Make image fill card width */
    height: 150px;
    /* Fixed image height */
    object-fit: cover;
    /* Maintain aspect ratio and cover area */
}

.resDatas {
    padding: 10px;
}

.resDatas h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Add ellipsis (...) if text overflows */
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.resDatas p {
    font-size: 0.9em;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Show only 2 lines */
    -webkit-box-orient: vertical;
}

.resDatas h4 {
    font-size: 0.8em;
    margin-bottom: 3px;
}